/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Тёмная тема */
body.dark-theme {
    background-color: #121212;
    color: #fff;
}

body.dark-theme .header {
    background: linear-gradient(135deg, #1e1e1e, #333);
}

body.dark-theme .project {
    background: #222;
    border-color: #444;
}

body.dark-theme .project.visible {
    background-color: rgba(34, 34, 34, 0.6); /* Частично прозрачный фон */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-theme .btn {
    background: #555;
}

body.dark-theme .btn:hover {
    background: #777;
}

body.dark-theme .about-content {
    background-color: rgba(34, 34, 34, 0.6); /* Частично прозрачный фон */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Размытие фона */
    border-color: #444;
}

/* Конец темной темы */

/* Стили для "Обо мне" */
.about-content {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}

/* Стили для кнопки переключения темы */
.theme-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff; /* Цвет иконки в светлой теме */
    transition: color 0.3s ease-in-out;
}

body.dark-theme #theme-toggle {
    color: #f9f9f9; /* Цвет иконки в тёмной теме */
}

/* Основной контект страницы */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: linear-gradient(135deg, #333, #555);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    animation: gradientShift 5s infinite alternate;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media (max-width: 768px) {
    .projects {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        margin: 10px 0;
    }
}

.header h1 {
    font-size: 2rem;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease-in-out;
}

.nav a:hover {
    color: #ffcc00;
}

.nav a:hover::after {
    width: 100%;
}

/* Общая анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

/* Применение анимации к секциям */
.section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

.section p {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

.section {
    padding: 50px 0;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 48%;
    margin-bottom: 20px;
    text-align: center;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
}


.project.visible {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.project.visible:hover {
    transform: scale(1.05); /* Эффект увеличения при наведении */
}

.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.project-description {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Ограничение до 3 строк */
    -webkit-box-orient: vertical;
}

.btn {
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: left 0.5s ease-in-out;
}

.btn:hover::before {
    left: 100%;
}


.btn_modal {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.btn_modal:hover {
    background: #555;
    transform: scale(1.1); /* Увеличение кнопки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills-list li {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

.footer:hover .social-links a {
    opacity: 1;
    transform: translateY(0);
}

.social-links a:hover {
    text-decoration: underline;
}

/* Холст для частиц */
#particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    pointer-events: none;
}

/* Модальные окна */
/* Стили для модальных окон */
.modal {
    display: none; /* Скрыт по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: relative;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content p {
    margin-bottom: 20px;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #fff;
}

/* Темная тема для модального окна */
body.dark-theme .modal-content {
    background-color: #333;
    color: #fff;
}

/* Слайдер в модальном окне */

/* Стили для слайдера */
.slider {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    border-radius: 8px;
}

.prev-slide,
.next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    z-index: 10;
}

.prev-slide {
    left: 10px;
}

.next-slide {
    right: 10px;
}

.prev-slide:hover,
.next-slide:hover {
    background: rgba(0, 0, 0, 0.8);
}